<header id="branding" role="banner">
  <hgroup>
    <h1 id="site-title"><span><a href="<%= @blog[:siteurl] %>" title="<%= @blog[:blogname] %>" rel="home"><%= @blog[:blogname] %></a> </span></h1>
    <h2 id="site-description"><%= @blog[:blogdescription] %></h2>
  </hgroup>
  <a href="<%= @blog[:siteurl] %>">
     <img src="/images/headers/header.jpg"/>
  </a>
  <%= render 'shared/navigation_bar' %>
</header>